body{
    background-color:#EFECCA;
    font-family: Helvetica', 'Arial';

}

h1{
    color: #C03000;

}
h2{
    color: #4BB5C1;
}

li{
    display: inline;
}

li a{
    background: #C03000;
    color: white;
    padding: 5px 18px;
    border: 1px solid;
    border-color:  #660000;
}

a{
    text-decoration: none;
}

li a:hover, a:focus{
    background-color: #009900;
    text-decoration: underline;

}
footer a{
    color:#0000FF;
    font-weight: bold;

}