body{

    background-color: #EFECCA;
    font-family: 'Helvetica', 'Arial';
}

h1{

    color:  #C03000;
}

h2{

   color:  #4BB5C1;

}

footer a{

    color :#0000FF;
    text-decoration: none;
    font-weight: bold;
}

li{
    display: inline-block;
    background-color: #C03000;
    border: 2px solid  #660000;
    height: 1.7em;
   
    
    
}

ul{
    list-style:none;
}

li a{

    display: block;
    color: white;
    text-decoration: none;
    
    width: 100px;
    
    text-align: center;
    padding: 5px;
    
   
    
    
    
  
}

li a:focus,li a:hover {
    
 
    background-color: #009900;
   
    
    
    
  
}



