body {

    background-color: #000099;

    font-family: 'Helvetica', 'Arial';

    margin: 0px;
    padding: 0px;

    


}

h1,li,form{
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-left : 100px;
    margin-right : 100px;

}

li{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    
    margin-bottom: 10px;

}

input[type = "text"]{

    border-radius: 3px;
    height: 35px;
    padding-left: 10px;

}

input[type = "submit"]{

    border-radius:8px;
    height: 40px;

}

h1{
    color: white;
}

form{

    margin-top:30px;
}

